/*Este es un comentario en CSS */

/*Morales Martinez Guadalupe Concepcion    Grupo:4BPM*/

/*DAW        Fecha:20/03/24  */  
/*A continuacion le aplicamos CSS a la actividad 11 (Practica10.HTML). Desde un archivo CSS (Practica10.CSS)*/
body{
background-size:cover;
background-attachment: fixed;
background-repeat: no-repeat;
}

h1{
color:#C39BD3;
font-family:antiqua;
font-size:20px;
text-align:center,
}

.t1{
width:150px;
height:200px;
}

tr{
background-color:#DDA0DD;
color:#9370DB;
}


.tr0{
background-color:red;
color:#9370DB;
}

img{
width:100px;
height:100px;
}


.tr1{
background-color:green;
color:#9370DB;
}

.tr2{ 
background-color:#FCF105;
color:#9370DB;
}


.tr3{ 
background-color:#747B7B;
color:blue;
}


.tr4{ 
background-color:#F39C12;
color:#9370DB;
}


.tr5{ 
background-color:#000080;
color:#9370DB;
}


.tr6{
background-color:#BB8FCE;
color:#9370DB;
}



.tr7{
background-color:purple;
color:#9370DB;
}

.tr8{
background-color:#803A15;
color:#9370DB;
}


.tr9{
background-color:#0895F7;
color:#9370DB;
}

.tr10{
background-color:#08EDDF;
color:#9370DB;
}

.tr11{
background-color:pink;
color:blue;
}

.i1{
width:200px;
height:200px;
float: right;
}
.tabla{
background-color: black;
}

a{
color:pink;
}

.aa{
color:red;
}