body{
background-image: url(./Imagenes/fondop3.jpg);
background-size:100% 100vh;
background-attachment:fixed;
}

h1{
font-family:cambria;
color:#6AFDBD;
font-size:28px;
text-align:center;
}

h2{
font-family:cambria;
color:#6ADCFD;
font-size:28px;
text-align:center;
}

.bb{
color:#FD6ACC;
text-align:left;
}

.im{
width:100px;
height:100px;
float:left;
}


.b1{
color:#6A8CFD;
text-align:right;
}


.i1{
width:100px;
height:100px;
float:right;
}

a{
color:pink;
}

.aa{
color:red;
}
